@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        background-color: theme(colors.base);
        color: theme(colors.light-text);
    }

    h1 {
        @apply text-6xl py-6 font-bold;
    }

    h2 {
        @apply text-2xl py-3 font-bold;
    }

    nav {
        background-color: theme(colors.navigation-bg);
        @apply p-2;
    }

    #content a{
        @apply bg-light-text text-base;
        padding: 0 0.30em 0 0.30em;
        border-radius: 1em;
    }

    #content a:hover{
        @apply text-light-text bg-base;
    }

    input, select {
        background-color: theme(colors.base);
        color: theme(colors.light-text);
        border-style: solid;
        border-width: 4px;
        border-color: theme(colors.light-text);
        @apply rounded-lg py-4 text-center text-2xl font-bold;
    }
}

@layer components {
    #content {
        background-color: theme(colors.base);
    }

    .card {
        background-color: theme(colors.light-text);
        color: theme(colors.base);
        @apply rounded-lg py-2 px-3.5;
    }
    
    .card-disabled {
        opacity: 50%;
    }

    .navi-item {
        @apply flex flex-col text-xs;
    }
    
    #title {
        @apply text-6xl mt-6;
    }
}